.tabs {
	display: flex;
	margin-bottom: 20px;
	position: relative;
}

.tab {
	padding: 10px;
	cursor: pointer;
	border: none;
	background: none;
}

.tab.active {
	color: #8abbff;
}

.tabs .selector {
	position: absolute;
	border-bottom: 2px solid #076eff;
	height: 100%;
	left: 0;
	transition: 0.3s all ease-in-out;
}
