.tabs {
	display: flex;
	margin-bottom: 20px;
	position: relative;
}

.tab {
	padding: 10px;
	cursor: pointer;
	border: none;
	background: none;
}

.tab.active {
	color: #B3B4BD;
}

.tabs .selector {
	position: absolute;
	border-bottom: 2px solid #B3B4BD;
	height: 100%;
	left: 0;
	transition: 0.3s all ease-in-out;
}

@media screen and (max-width: 768px) {
	.tabs {
		flex-direction: column;
	}
}